.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    margin-top: 8px;
    width: 70px;
}
.navbar .profile{
    width: 40px;
}